[submodule "Simod-2.3.1"]
	path = Simod-2.3.1
	url = https://github.com/AutomatedProcessImprovement/Simod.git
[submodule "GenerativeLSTM"]
	path = GenerativeLSTM
	url = https://github.com/AdaptiveBProcess/GenerativeLSTM.git
